<h1>Messages</h1>
  <div>
    <a href="{% url 'homepage' %}" >Home</a><br>
    <a href="{% url 'aboutpage' %}" >About</a><br>
    <a href="{% url 'datapage' %}" >Data</a><br>
  </div>

<h2>Employees Messages</h2>

  <div>
    <table border="1" width="600" height="200">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% for data in object_list %}
        <tr>
            <td align="center">{{ data.first_name }} {{ data.last_name }}</td>
            <td align="center">{{ data.age }}</td>
            <td align="center">{{ data.title }}</td>
            <td align="center">{{ data.message }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>


